.ui-corner-all-inherit {
  -webkit-border-top-left-radius: inherit;
  -moz-border-top-left-radius: inherit;
  -ms-border-top-left-radius: inherit;
  -o-border-top-left-radius: inherit;
  border-top-left-radius: inherit;
  -webkit-border-top-right-radius: inherit;
  -moz-border-top-right-radius: inherit;
  -ms-border-top-right-radius: inherit;
  -o-border-top-right-radius: inherit;
  border-top-right-radius: inherit;
  -webkit-border-bottom-right-radius: inherit;
  -moz-border-bottom-right-radius: inherit;
  -ms-border-bottom-right-radius: inherit;
  -o-border-bottom-right-radius: inherit;
  border-bottom-right-radius: inherit;
  -webkit-border-bottom-left-radius: inherit;
  -moz-border-bottom-left-radius: inherit;
  -ms-border-bottom-left-radius: inherit;
  -o-border-bottom-left-radius: inherit;
  border-bottom-left-radius: inherit;
}

.ui-corner-tl-inherit {
  -webkit-border-top-left-radius: inherit;
  -moz-border-top-left-radius: inherit;
  -ms-border-top-left-radius: inherit;
  -o-border-top-left-radius: inherit;
  border-top-left-radius: inherit;
}

.ui-corner-tr-inherit {
  -webkit-border-top-right-radius: inherit;
  -moz-border-top-right-radius: inherit;
  -ms-border-top-right-radius: inherit;
  -o-border-top-right-radius: inherit;
  border-top-right-radius: inherit;
}

.ui-corner-bl-inherit {
  -webkit-border-bottom-left-radius: inherit;
  -moz-border-bottom-left-radius: inherit;
  -ms-border-bottom-left-radius: inherit;
  -o-border-bottom-left-radius: inherit;
  border-bottom-left-radius: inherit;
}

.ui-corner-br-inherit {
  -webkit-border-bottom-right-radius: inherit;
  -moz-border-bottom-right-radius: inherit;
  -ms-border-bottom-right-radius: inherit;
  -o-border-bottom-right-radius: inherit;
  border-bottom-right-radius: inherit;
}

.ui-corner-top-inherit {
  -webkit-border-top-right-radius: inherit;
  -moz-border-top-right-radius: inherit;
  -ms-border-top-right-radius: inherit;
  -o-border-top-right-radius: inherit;
  border-top-right-radius: inherit;
  -webkit-border-top-left-radius: inherit;
  -moz-border-top-left-radius: inherit;
  -ms-border-top-left-radius: inherit;
  -o-border-top-left-radius: inherit;
  border-top-left-radius: inherit;
}

.ui-corner-right-inherit {
  -webkit-border-top-right-radius: inherit;
  -moz-border-top-right-radius: inherit;
  -ms-border-top-right-radius: inherit;
  -o-border-top-right-radius: inherit;
  border-top-right-radius: inherit;
  -webkit-border-bottom-right-radius: inherit;
  -moz-border-bottom-right-radius: inherit;
  -ms-border-bottom-right-radius: inherit;
  -o-border-bottom-right-radius: inherit;
  border-bottom-right-radius: inherit;
}

.ui-corner-bottom-inherit {
  -webkit-border-bottom-right-radius: inherit;
  -moz-border-bottom-right-radius: inherit;
  -ms-border-bottom-right-radius: inherit;
  -o-border-bottom-right-radius: inherit;
  border-bottom-right-radius: inherit;
  -webkit-border-bottom-left-radius: inherit;
  -moz-border-bottom-left-radius: inherit;
  -ms-border-bottom-left-radius: inherit;
  -o-border-bottom-left-radius: inherit;
  border-bottom-left-radius: inherit;
}

.ui-corner-left-inherit {
  -webkit-border-top-left-radius: inherit;
  -moz-border-top-left-radius: inherit;
  -ms-border-top-left-radius: inherit;
  -o-border-top-left-radius: inherit;
  border-top-left-radius: inherit;
  -webkit-border-bottom-left-radius: inherit;
  -moz-border-bottom-left-radius: inherit;
  -ms-border-bottom-left-radius: inherit;
  -o-border-bottom-left-radius: inherit;
  border-bottom-left-radius: inherit;
}

.ui-animate, .ui-animate * {
  -webkit-transition-duration: 0.6s;
  -moz-transition-duration: 0.6s;
  -ms-transition-duration: 0.6s;
  -o-transition-duration: 0.6s;
  transition-duration: 0.6s;
}

html .topNav, html .bottomNav {
  position: relative;
  height: auto;
  min-height: 2em;
  padding-bottom: 10px;
  overflow: visible;
}
html .topNav .navList {
  margin-right: 15px;
}
html .aboutLanguage {
  margin-top: 0;
  padding: 0px 21px 0px 0px;
}
html pre[class*="language-"].prism-theme-coy {
  background-image: linear-gradient(transparent 50%, rgba(69, 142, 209, 0.08) 50%);
  /*&::before, &::after {
  	z-index: -20;
  }*/
}
html pre[class*="language-"].prism-theme-funky code[class*="language-"] {
  line-height: 2;
}
html .page-theme-picker {
  /*margin-top: -0.86365em;*/
}
html .page-theme-picker.hasThemePicker {
  /*margin: -1.2727em 0;*/
  margin: -2px 0;
}
html .page-theme-picker label.theme-picker {
  font-weight: bold;
  margin-right: 0.7em;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.6);
}
html .prism-theme-picker {
  position: absolute;
  top: 0;
  right: 0;
}
html .ui-tabs.jtabs {
  overflow: hidden;
}
html .ui-tabs .ui-tabs-panel.ui-widget-content a {
  color: #4a6782;
}
html .ui-tabs .ui-tabs-panel.ui-widget-content a:hover, html .ui-tabs .ui-tabs-panel.ui-widget-content a:focus {
  color: #bb7a2a;
}
html .ui-tabs .ui-tabs-nav > .tabs-rotator {
  float: right;
  -webkit-box-shadow: -1px 4px 5px 0px rgba(150, 150, 150, 0.7);
  -moz-box-shadow: -1px 4px 5px 0px rgba(150, 150, 150, 0.7);
  -ms-box-shadow: -1px 4px 5px 0px rgba(150, 150, 150, 0.7);
  -o-box-shadow: -1px 4px 5px 0px rgba(150, 150, 150, 0.7);
  box-shadow: -1px 4px 5px 0px rgba(150, 150, 150, 0.7);
  -webkit-opacity: 0;
  -moz-opacity: 0;
  -ms-opacity: 0;
  -o-opacity: 0;
  opacity: 0;
  -webkit-transition-duration: 0.6s;
  -moz-transition-duration: 0.6s;
  -ms-transition-duration: 0.6s;
  -o-transition-duration: 0.6s;
  transition-duration: 0.6s;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -ms-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
html .ui-tabs .ui-tabs-nav:hover > .tabs-rotator, html .ui-tabs .ui-tabs-nav > .tabs-rotator:focus {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  -ms-opacity: 1;
  -o-opacity: 1;
  opacity: 1;
}
html .ui-tabs .ui-tabs-panel {
  position: relative;
}
html .ui-tabs.ui-tabs-vertical .ui-tabs-nav {
  padding: .2em .1em .2em .2em;
  width: 9em;
  position: absolute;
  top: 0.2em;
  bottom: 0.2em;
  left: 0.2em;
  z-index: 2;
}
html .ui-tabs.ui-tabs-vertical .ui-tabs-nav > .tabs-rotator {
  bottom: 0.2em;
  left: 50%;
  margin-left: -16px;
  position: absolute;
  float: none;
}
html .ui-tabs.ui-tabs-vertical .ui-tabs-nav li {
  clear: left;
  width: 100%;
  border-bottom-width: 1px !important;
  border-right-width: 0 !important;
  margin: 0 -1px .2em 0;
}
html .ui-tabs.ui-tabs-vertical .ui-tabs-nav li a {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
html .ui-tabs.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
  padding-bottom: 0;
  padding-right: .1em;
  margin-bottom: 0.2em;
  border-right-width: 1px;
}
html .ui-tabs.ui-tabs-vertical .ui-tabs-panel {
  padding: 1em;
  margin-left: 9.4em;
}

.enhanced-code {
  position: relative;
  overflow: visible !important;
  /*margin-top: -2.2em;*/
  /*padding-top: 2.4em;*/
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 0;
}
.enhanced-code > .prism-theme-picker {
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.6s;
  -moz-transition-duration: 0.6s;
  -ms-transition-duration: 0.6s;
  -o-transition-duration: 0.6s;
  transition-duration: 0.6s;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -ms-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-box-shadow: -1px 4px 5px 0px rgba(150, 150, 150, 0.7);
  -moz-box-shadow: -1px 4px 5px 0px rgba(150, 150, 150, 0.7);
  -ms-box-shadow: -1px 4px 5px 0px rgba(150, 150, 150, 0.7);
  -o-box-shadow: -1px 4px 5px 0px rgba(150, 150, 150, 0.7);
  box-shadow: -1px 4px 5px 0px rgba(150, 150, 150, 0.7);
  /*z-index: -10;*/
  top: 0;
  /*top: 2.5em;*/
  /*right: 2.5em;*/
  right: 0.25em;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  -ms-opacity: 0;
  -o-opacity: 0;
  opacity: 0;
}
.enhanced-code > pre[class*="language-"] {
  margin: 1px;
}
.enhanced-code > pre[class*="language-"] code {
  margin-top: 0;
  margin-bottom: 0;
}
.enhanced-code > .code-button {
  width: auto;
  padding: 0.2em 0.8em;
  position: absolute;
  top: 50%;
  /*right: 1.5em;*/
  right: 0.25em;
  margin-top: -0.849255em;
  /*z-index: -15;*/
  -webkit-box-shadow: -1px 4px 5px 0px rgba(150, 150, 150, 0.7);
  -moz-box-shadow: -1px 4px 5px 0px rgba(150, 150, 150, 0.7);
  -ms-box-shadow: -1px 4px 5px 0px rgba(150, 150, 150, 0.7);
  -o-box-shadow: -1px 4px 5px 0px rgba(150, 150, 150, 0.7);
  box-shadow: -1px 4px 5px 0px rgba(150, 150, 150, 0.7);
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -ms-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.6s;
  -moz-transition-duration: 0.6s;
  -ms-transition-duration: 0.6s;
  -o-transition-duration: 0.6s;
  transition-duration: 0.6s;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  -ms-opacity: 0;
  -o-opacity: 0;
  opacity: 0;
  cursor: pointer;
}
.enhanced-code:hover > .prism-theme-picker, .enhanced-code > .prism-theme-picker:focus {
  top: 0;
  /*right: 2.5em;*/
  z-index: 1;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  -ms-opacity: 1;
  -o-opacity: 1;
  opacity: 1;
}
.enhanced-code:hover {
  /*padding-top: 2.5em;
  padding-right: 2.5em;*/
}
.enhanced-code:hover > .code-button {
  /*right: 0.25em;*/
  -webkit-opacity: 1;
  -moz-opacity: 1;
  -ms-opacity: 1;
  -o-opacity: 1;
  opacity: 1;
  z-index: 1;
}
.enhanced-code > .code-button:focus {
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -ms-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.6s;
  -moz-transition-duration: 0.6s;
  -ms-transition-duration: 0.6s;
  -o-transition-duration: 0.6s;
  transition-duration: 0.6s;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  -ms-opacity: 1;
  -o-opacity: 1;
  opacity: 1;
  right: 0.25em;
  z-index: 0;
}

.floating-nav.has-shadow body {
  padding-top: 3.113837em;
}
.floating-nav.has-shadow .topNav {
  position: fixed;
  z-index: 1001;
  top: 0;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.6);
  -ms-box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.6);
  -o-box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.6);
}

.ui-selectmenu-menu {
  display: none;
}
.ui-selectmenu-menu.ui-selectmenu-open {
  -webkit-box-shadow: 0 0 10px -3px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 10px -3px rgba(0, 0, 0, 0.6);
  -ms-box-shadow: 0 0 10px -3px rgba(0, 0, 0, 0.6);
  -o-box-shadow: 0 0 10px -3px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 10px -3px rgba(0, 0, 0, 0.6);
}
